@using BlazorApp1.Components.Layout.SearchBar
@using BlazorApp1.Components.Layout.icons
@using BlazorApp1.Components.Layout.Carousel
@using BlazorApp1.Components.Layout.Stripe
@using BlazorApp1.Components.Layout.SmallCard

@page "/"

<PageTitle>E-commerce</PageTitle>


<nav class="flex items-center bg-[#009FE3] px-8 ">
    <h1 class="text-3xl text-white font-bold">Shop+</h1>

    <SearchBar />

    <div class="flex gap-4">
        <UserIcon Class="text-[#49267F] w-8 h-8 cursor-pointer" />

        <CartIcon Class="text-[#49267F] w-8 h-8 cursor-pointer" />
    </div>

</nav>

<div>
    <Carousel
        Images="@(new string[] { "/img/cel1.webp", "/img/cel2.webp", "/img/cel3.webp", "/img/cel4.webp", "/img/cel5.webp", "/img/cel6.webp" })" />
</div>

<div>
    <Stripe />
</div>

<div class="px-4 py-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2 items-center justify-center">
    @foreach (var category in categorias)
    {
        <SmallCard Category="@category" />
    }
</div>


@code {
    private string[] categorias = { "Computadores", "Celulares", "Tablets", "Acessórios" };
}