@using BlazorApp1.Components.Layout.ProductCard
@using BlazorApp1.Models
@using BlazorApp1.Services



@page "/produtos/{categoria}"

<PageTitle>Categoria @categoria</PageTitle>

<div class="container mx-auto p-4">
    Esta é a @categoria.


    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        @if (produtos != null && produtos.Any())
        {
            @foreach (var produto in produtos)
            {
                <ProductCard Produto="produto" />
            }
        }
        else
        {
            <p>Nenhum produto encontrado.</p>
        }
    </div>

</div>


@code {
    [Parameter]
    public string categoria { get; set; }

    private List<Produto> produtos;

    [Inject]
    public ProdutoService ProdutoService { get; set; }

    protected override void OnInitialized()
    {

        produtos = ProdutoService.GetProdutos();
    }
}