@using BlazorApp1.Components.Layout.icons

<div class="flex justify-center items-center py-4 w-full">
    <div class="max-w-[500px] w-full relative">
        <div class="h-8 md:h-0">
            <SearchIcon
                Class="w-8 h-8 mr-2 absolute right-2 top-1/2 transform -translate-y-1/2 text-[#49267F] md:text-[#0057E3]" />
        </div>

        <input class="hidden md:block rounded-xl w-full h-8 pl-5 pr-10" type="search" placeholder="Buscar..." />
    </div>
</div>